.form-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.box-label-input {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5px;
}

.input-contact {
    padding: 5px;
}

.input-contact-msj {
    padding-bottom: 60px;
}

.box-submit-contact {
    display: flex;
    justify-content: end;
    width: 50%;
}

.input-contact-enviar {
    padding: 5px;
    margin-top: 10px;
    width: 30%;
}