.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-articulo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 22%;
    height: 400px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    background: rgb(205, 226, 243);
    border-radius: 5px;
}

.card-articulo:hover{
    transform: rotateX(9deg) translateY(-8px);
    box-shadow: 0 10px 20px rgba(43, 7, 243, 0.986);
}

.card-precio-buttom {
   display: flex;
   justify-content: space-between;
}

.img{
    height: 50%;
    width: 100%;
    border-radius: 5px;
}

h3, .precio {
    color: hsl(234, 12%, 34%);
    font-weight: hsl(229, 6%, 66%);
    opacity: 0.8;
    font-size: 25px;
    line-height: 1.5;
    text-align: center;
}

.card-buttom {
    width: 40%;
    border-radius: 8px;
    background: rgb(205, 226, 243);
    border-color: rgba(43, 7, 243, 0.986);
}

.card-buttom:hover{
    background-color: white;
}

.card-buttom a {
    text-decoration: none;
    color: hsl(234, 12%, 34%);
}

.card-descripion, .card-precio-buttom {
    width: 90%;
    color: hsl(234, 12%, 34%);

}

@media (min-width: 375px) and (max-width: 767px) {

    .card-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .card-articulo{
        width: 40%;
        margin: 10px 0px 10px 0px;
    }
}