footer {
	display: flex;
	align-items: center;
	background-color: darkgrey;
	height: 70px;
}

.social-icon {
	max-width: 32px; 
	margin: 15px;
	margin-top: 8px; 
}

.link {
    text-decoration: none;
}