main {
   background:#A1C3CA  ;
}

.carrusel-box {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100px;
   background: darkgrey;
}

.carrusel-a {
    text-decoration: none;
    font-size: 50px;
    color: hsl(234, 12%, 34%);
    font-weight: hsl(229, 6%, 66%);
    margin-left: 25px;
    margin-right: 25px;
}

.carrusel-a:hover{
    transform: scaleX(3);
    transform: scaleY(4);
    transition: all 1s;
    color: rgba(43, 7, 243, 0.986)
}

.carrusel-h1 {
font-size: xx-large;
color: hsl(234, 12%, 34%);
font-weight: hsl(229, 6%, 66%);
opacity: 0.8;
    
}

.carrusel-h1:hover{
    transform: scaleX(3);
    transform: scaleY(4);
    transition: all 2s;
    color: rgba(43, 7, 243, 0.986)
}

.categoria{
    color: hsl(234, 12%, 34%);
    font-weight: hsl(229, 6%, 66%);
}

.box-check-busca {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 140px;
}

.box-check {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 60%;
}

.check {
    width: 30%;
    margin-top:5px
}

.buscador {
    display: flex; 
    justify-content: start;
    width: 30%;
}

.input-busca{ 
    padding: 5px;
    width: 50%;
    border-radius: 5px;
}

.button-busca{
    padding: 5px;
    border-radius: 5px;
    color: rgba(43, 7, 243, 0.986)
}

@media (min-width: 375px) and (max-width: 767px) {
    .box-check-busca {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }

    .check {
        width: 50%; 
    }

    form label {
        font-size: small;
    }
    
    .buscador {
        display: flex; 
        justify-content: center;
        width: 100%;
    }
}